@import "../../assets/stylesheets/base/colors";

.wrapper {
  margin: 12px 0 0;
  padding: 14px;
  background: #ffffff;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 8px rgba(84, 110, 122, 0.24));
}

.head,
.body {
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
}

.name {
  margin-top: 0;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #263238;
}

.url {
  margin-top: 2px;
  margin-bottom: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #263238;
  opacity: 0.54;
}

.toolbar {
  display: flex;
  justify-content: right;
}

.expander {
  margin-left: 10px;
  margin-top: 7px;

  background: none;
  border: none;
  position: relative;

  cursor: pointer;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border: 2px solid #979797;
    border-width: 0 0 2px 2px;
    transform: rotate(315deg);
  }

  &:not(.expanded) {
    &::before {
      top: 0px;
      transform: rotate(315deg);
    }
  }

  &.expanded {
    &::before {
      top: 5px;
      transform: rotate(135deg);
    }
  }
}
