@import "../../assets/stylesheets/base/colors";

:host {
  display: flex;
}
.wrapper {
  padding: 0 4px;
  min-width: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #263238;

  &:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

  &.success {
    &:before {
      background-color: $success-color;
    }
  }

  &.danger {
    &:before {
      background-color: $danger-color;
    }
    color: #9ea7ba;
  }

  &.warning {
    &:before {
      background-color: $warning-color;
    }
    color: #9ea7ba;
  }
}
